<<<<<<< HEAD
<!-- With assistance from Mike North, who helped with the CSS / layout for cards -->
<!-- https://codepen.io/mike-north/pen/MwVoYp -->
=======
<div class="profile" style="text-align:center">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="profile-container" >
   <image id="profileImage" style="width: 200px; height: 200px;" src="<%= @user.image %>" />
</div>
<<<<<<< HEAD
>>>>>>> induction

<h5>
	Profile Page
	Practice Problems
</h5>
=======
      <h2><strong><%= @user.name %></strong></h2>
    <div class="row">
    <div class="col s6 left-align" style="background-color:pink;">
    <em><h4>Account Information</h4></em>
      <h5><%= @user.email%></h5>
          <% if @user.section.nil? %>
            <h5>Section: 3</h5>
          <% else %>
              <h5>Section: 
              <%= @user.section%></h5>
          <% end %>
    </div>
    <div class="col s6 left-align" style="background-color:#85C1E9;">
    <em><h4>My Activities</h4></em>
      <%if @user.num_attempt.nil?%>
        <h5>None Attempted</h4>
      <%else%>
        <h5> Attempts: <%= @user.num_attempt%></h5>
      <%end%>
      <%if @user.num_correct.nil?%>
        <h5>None Completed</h4>
      <%else%>
        <h5> Completed: <%= @user.num_correct%></h5>
      <%end%>
    </div>
    </div>

    
>>>>>>> induction

<!-- <div class="col s3"> -->
<!-- 	<div class="card small"> -->
<!--     <div class="card-content"> -->
<!--       <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span> -->
<!--       <p><a href="#">This is a link</a></p> -->
<!--     </div> -->
<!--     <div class="card-reveal"> -->
<!--       <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span> -->
<!--       <p>Here is some more information about this product that is only revealed once clicked on.</p> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


<div class="container">
	<div class="row">
		<div class="col s12 cards-container">

			<% @topics.each do |category_uid, category_name, category_description| %>



				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title"><%= category_name %></span>
						<p>
							<%= category_description %>
						</p>
					</div>
					<div class="card-action">

<<<<<<< HEAD
						<!-- We also need to grab whether the currently logged in -->
						<!-- user has solved these problems yet. -->
						<!-- Finally, we need to have the links forward you to the -->
						<!-- main logic page which will fill out the fields with -->
						<!-- the premises, conclusion, etc. from the DB. -->
						<!-- But grabbing that info can be a function for the logic -->
						<!-- page's controller. -->

						<!-- <a href="#">This is a link</a> -->
						<!-- <a href="#">This is a link</a> -->

						<% getProblems(category_uid).each do |problem_uid| %>
							<%= puts(problem_uid) %>
							<a href="/logic?problem_uid= <%= problem_uid %>">
								<%= "Problem " + problem_uid + ":" %>
							</a>
						<% end %>
					</div>
				</div>



			<% end %>

		</div>
	</div>
</div>
=======
>>>>>>> induction
