<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Discrete Math Suite</title>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <!-- CSS  -->
  <%= stylesheet_link_tag 'materialize' %> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <!-- <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
	<%= stylesheet_link_tag "logic" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Discrete Math Suite</a>
      <%if current_user%>
		
		<%else%>
	  <ul class="right hide-on-med-and-down">
        <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      </ul>
	  <%end%>
      <%if current_user%>
	  		<div style="text-align:right">
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        </div>
        
		<%else%>
      <ul id="nav-mobile" class="side-nav">
        <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      </ul>
	  <%end%>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- <div class="container"> -->
  <div class="container">
    <div class="section">
  <%= yield %>
    </div>
    <br><br>
  </div>

  <footer class="page-footer foot">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Logic</h5>
          <ul>
            <li><div class="white-text">Tyler Durden</div></li>
            <li><div class="white-text">Hunter Stewart</div></li>
            <li><div class="white-text">Evan Bakkal</div></li>
            <li><div class="white-text">Drew Mills</div></li>
            <li><div class="white-text">Kahwee Low</div></li>
            <li><div class="white-text">Jason Zuang</div></li>
            <li><div class="white-text">Victoria Wei</div></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Induction</h5>
          <ul>
            <li><div class="white-text">Amy Li</div></li>
            <li><div class="white-text">Cheryl Goh</div></li>
            <li><div class="white-text">Marcus Heinonen</div></li>
            <li><div class="white-text">Nilay Patel</div></li>
            <li><div class="white-text">Shawn Dolifka</div></li>
            <li><div class="white-text">Tracy Yee</div></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="foot-text" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="javascripts/materialize.js"></script>
  <script src="javascripts/init.js"></script>
  <script src="javascripts/logic.js"></script>

  </body>
</html>

